.card__delete-button {
    grid-area: img;
    margin: 20px 20px auto auto;
    width: 18px;
    height: 19.3px;
    background-image: url(../../../images/del_btn.svg);
    }
    
.card__delete-button:hover {
    opacity: .6;
}