.profile {
    max-width: 320px;
    margin: auto;
    padding: 42px 0 0 0;
    display: grid;
    grid-template-areas: "avatar avatar avatar"
                         ". name edit"
                         "job job job"
                         "add add add";
    grid-template-columns: 1fr 189px 1fr;
}

@media screen and (min-width: 640px) {

    .profile {
        max-width: 581px;
        padding: 42px 0 0 0;
        grid-template-areas:
        "avatar name edit add"
        "avatar job job add";
        grid-template-columns: 120px 225px 1fr 150px;
        grid-template-rows: 70px 1fr;
    }
}

@media screen and (min-width: 1280px) {

    .profile {
        max-width: 880px;
        padding: 0;
        grid-template-areas:
        "avatar name edit add"
        "avatar job job add";
        grid-template-columns: 150px 312px 1fr 150px;
        grid-template-rows: 110px 1fr;
    }
}