.element__text {
    grid-area: text;
    width: 179px;
    color: #000;
    font-size: 24px;
    font-weight: 900;
    margin: 25px auto 0 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}