.profile__add-button {
    grid-area: add;
    margin: 36px auto 0 auto;
    width: 282px;
    height: 50px;
    background-image: url(../../../images/add_btn.svg);
}

@media screen and (max-width: 1280px) {

    .profile__add-button {
        margin: 75px 0 0 0;
        width: 150px;
        height: 50px;
        background-image: url(../../../images/add_btn_s.svg);
    }
}