.footer__copyright {
    margin: 0 auto 0 auto;
    width: 282px;
    color: #545454;
    font-size: 14px;
}

@media screen and (max-width: 1280px) {

    .footer__copyright {
        width: 318px;
        margin: 0;
        font-size: 18px;

    }

}