.button {
    padding: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .4s linear;
    cursor: pointer;
}

.button:hover {
    opacity: .6;
}